@charset "UTF-8";
.header {
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    padding-inline: 1.25rem;
    padding-block: 1.5rem;
    align-items: center;
    overflow: hidden;
    max-width: 1466px;
}

.header__logo {
    font-size: 1.75rem;
    font-weight: 300;
    display: flex;
}

.nav__ul {
    display: flex;
    list-style-type: none;
    color: #6A636F;
    gap: 2rem;
}

.nav__a {
    text-decoration: none;
    color: inherit;
}

.nav__login {
    display: flex;
    gap: 2rem;
    color: inherit;
    font-weight: 300;
    align-items: center;
    text-decoration: none;
}

.nav__login a {
    text-decoration: none;
}

.nav__icon__button {
    display: none;
}

.nav__icon {
    width: 1.5rem;
    height: 1.5rem;
}


.login__log {
    color: #f3f3f3;
    border-color: inherit;
    border-radius: 0.4em;
    border: solid #f3f3f3 2px;
    padding-inline: 3rem;
    padding-block: 0.8rem;
}

.login__res {
    color: white;
    background-image: linear-gradient(to right, #FA5030, #F514F0);
    border-radius: 0.3rem;
    padding-inline: 3rem;
    padding-block: 0.8rem;
}

@media (width < 768px) {
    
    .header {
        padding-inline: 0.5rem;
        padding-block: 0.5rem;
    }

    .nav__ul {
        display: none;
    }

    .nav__login {
        display: none;
    }

    .nav__icon__button {
        display: block;
    }
}